<% if @error %>
  <%= @error %>
<% else %>

  <h1>IDML stories in file &quot;<%= @idml_file_name %>&quot;</h1>

  <a href="/">Upload another IDML file</a>

  <h3>Stories</h3>
  <ol>
    <% @idml_stories.each_with_index do |story, i| %>
      <li>
        <a href="#story-<%= i+1 %>"><%= story.name %></a>
        (<%= story.length %> characters)
      </li>
    <% end %>
  </ol>
  <% @idml_stories.each_with_index do |story, i| %>
    <div style="margin: 2em 0;" id="story-<%= i+1 %>">
      <h3><%= story.name %></h3>
      <%= story.body_as_html %>
    </div>
  <% end %>

  <a href="/">Upload another IDML file</a>

<% end %>
