<% if @error %>
  <%= @error %>
<% else %>

  <h1>IDML stories in file &quot;<%= @idml_file_name %>&quot;</h1>

  <a href="/">Upload another IDML file</a>

  <h3>Stories</h3>
  <ol>
    <% @story_names.each_with_index do |story_name, i| %>
      <li><a href="#story-<%= i+1 %>"><%= story_name %></a></li>
    <% end %>
  </ol>
  <% @highlit_story_sources.each_with_index do |story, i| %>
    <div style="margin: 2em 0;" id="story-<%= i+1 %>">
      <%= story %>
    </div>
  <% end %>

  <a href="/">Upload another IDML file</a>

<% end %>
